{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load auto_url %}
{% load th_bootstrap %}

{% if user.is_superuser %}
    {% dropdown title="Admin" id="admin_dropdown" %}
        <li>
            <a href="{% url_from_class "subjectdb.views.specialgroups.SpecialGroups" %}">Special Subject Groups</a>
        </li>
        {% sub_dropdown title="Default Extra Data" id="default_extradata_dropdown" %}
            <li>
                <a href="{% url_from_class "subjectdb.views.extradata.DefaultSessionExtraData" %}">Session Extra
                    Data</a>
            </li>
            <li>
                <a href="{% url_from_class "subjectdb.views.extradata.DefaultSubjectExtraData" %}">Subject Extra
                    Data</a>
            </li>
        {% endsub_dropdown %}
        {% sub_dropdown title="Optional Extra Data" id="optional_extradata_dropdown" %}
            <li>
                <a href="{% url_from_class "subjectdb.views.extradata.SessionExtraData" %}">Session Extra Data</a>
            </li>
            <li>
                <a href="{% url_from_class "subjectdb.views.extradata.SubjectExtraData" %}">Subject Extra Data</a>
            </li>
        {% endsub_dropdown %}
        <li>
            <a href="{% url_from_class "subjectdb.views.admin.AdminSettings" %}">Admin Preferences</a>
        </li>
    {% enddropdown %}
{% endif %}