{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load auto_url %}

<li class="dropdown"><a class="dropdown-toggle" id="login_dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" href="#">
    <span class="glyphicon glyphicon-log-in"></span> Login <span class="caret"></span></a>

    <div class="dropdown-menu login-dropdown" aria-labelledby="login_dropdown">
        <form class="form" role="login" action="{% url_from_class "user_manager.views.login.Login" %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control login-control">
                <input type="password" name="password" placeholder="Password" class="form-control login-control">
                <input class="btn btn-primary" type="submit" name="submit_login" value="Log in">
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% else %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                {% endif %}
            </div>
        </form>
    </div>
</li>