{% load django_tables2 %}
{% load i18n %}

<div class="table-container">
    {% block table %}
        <table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
            {% block table.thead %}
                {% if table.show_header %}
                    <thead>
                    <tr>
                        {% for column in table.columns %}
                            {% if column.column.needs_permission == None or column.column.needs_permission in table.context.perms %}
                            {% if column.orderable %}
                                <th {{ column.attrs.th.as_html }}><a
                                        href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a>
                                </th>
                            {% else %}
                                <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody>
                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                    {% block table.tbody.row %}
                        <tr {{ row.attrs.as_html }}>
                            {% for column, cell in row.items %}
                                {% if column.column.needs_permission == None or column.column.needs_permission in table.context.perms %}
                                <td {{ column.attrs.td.as_html }}>
                                    {% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}
                                        {{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endblock table.tbody.row %}
                {% empty %}
                    {% if table.empty_text %}
                        {% block table.tbody.empty_text %}
                            <tr>
                                <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                            </tr>
                        {% endblock table.tbody.empty_text %}
                    {% endif %}
                {% endfor %}
                </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
                {% if table.has_footer %}
                    <tfoot>
                    <tr>
                        {% for column in table.columns %}
                            <td>{{ column.footer }}</td>
                        {% endfor %}
                    </tr>
                    </tfoot>
                {% endif %}
            {% endblock table.tfoot %}
        </table>
    {% endblock table %}
</div>
