{% extends "base_table.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load th_bootstrap %}
{% load auto_url %}

{% block navs %}
    {% if perms.subjectdb.add_subjectbase %}
        <li>
            <a id="download_mris" href="{% url_from_class 'subjectdb.views.resting.DownloadAllMris' %}">Download MRIs</a>
        </li>
        <li>
            <a id="export_excel" href="{% url_from_class 'subjectdb.views.resting.ExportToExcel' %}">Export To Excel</a>
        </li>
    {% endif %}
{% endblock %}