{% extends "base.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load th_bootstrap %}
{% load auto_url %}

{% block main_content %}
    {% render_detail_fields %}
{% endblock %}

{% block navs %}
    {% if perms.subjectdb.change_subjectbase %}
        <li>
            <a href="{% url_from_class "subjectdb.views.subjectbase.SubjectEdit" subject_id=object.subject_id %}">Edit</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url_from_class "subjectdb.views.session.SubjectSessions" subject_id=object.subject_id %}">Sessions</a>
    </li>
    {% if object.has_mri %}
        <li>
            <a href="{% url_from_class "mridb.views.display.SubjectDetail" subject_id=object.subject_id %}">MRI</a>
        </li>
    {% endif %}
{% endblock %}