html {
  position: relative;
  min-height: 100%;
}

.navbar-brand-img {
    padding: 5px 15px;
}

.login-control {
    margin-bottom: 15px;
}

.login-dropdown {
    padding: 15px 15px 0px;
}

body {
    padding-bottom: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
}

.mri-upload {
    padding-top: 15px;
}

.jq-dropdown-panel-wide {
    max-width: 600px !important;
    min-width: 400px !important;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.personal_information {
    display: none;
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }