{% extends "base_bare_skel.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %} ERROR! {% endblock %}

{% block body %}
    <h1>OOOPS!! That should not have happened!</h1>
    <p>You are trying to access something that is not there. This normally happens in one of these two cases:</p>
    <dl>
        <dt>You entered a URL in the browsers address bar yourself:</dt>
        <dd>If you did this, stop doing that. The database has all nice buttons to move around!</dd>
        <dt>You just found a bug:</dt>
        <dd>In that case, please report it!</dd>
    </dl>
{% endblock %}
