{% extends "base.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block main_header %}
OBOB Subject Database
{% endblock %}
{% block main_content %}
    <p>&copy 2016-2021 Thomas Hartmann</p>
    <p>The OBOB Subject Database is an in-house project of the OBOB Team at the University of Salzburg to keep track of the Subjects and MRIs. Support for use outside of
    the University of Salzburg will be sparse. But you are free to use it under the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL3</a>.</p>
    <p>Being an open source project, I would like to acknowledge the following libraries that I have used:</p>
    <h4>Python Libraries</h4>
    <ul>
        {% for name, url in python_packages.items %}
            {% if url == "UNKNOWN" %}
                <li>{{ name }}</li>
            {% else %}
                <li><a href="{{ url }}">{{ name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <h4>Javascript Libraries and css Frameworks</h4>
    <ul>
        {% for name, url in js_packages.items %}
            {% if url == "UNKNOWN" %}
                <li>{{ name }}</li>
            {% else %}
                <li><a href="{{ url }}">{{ name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <p>The icon is &copy by Icon Island and is used under the Creative Common License (BY, 3.0). You can find it <a href="https://thenounproject.com/iconisland/collection/brain-and-thinking/?i=465482">here</a>.</p>
    <p>You might also be interested in <a href="https://gitlab.com/thht/obob_subjectdb_docker">obob_subjectdb_docker</a>, which will provide you
    with a solution to easily deploy and update the database</p>

    <h4>Internal Information</h4>
    <ul>
        <li>git_commit_hash: {{ git.name_rev }}</li>
        <li>git_commit_datetime: {{ git.committed_datetime }}</li>
        <li>git_commit_author: {{ git.author }}</li>
        <li>git_commit_message: {{ git.message }}</li>
    </ul>
{% endblock %}