{% extends "base_skel.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load auto_url %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button id="navbar-button" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#obobNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"> <img class="navbar-brand navbar-brand-img" src="{% static "img/obob_logo_small.png" %}"> </a>
        </div>

        <div class="collapse navbar-collapse" id="obobNavbar">

            <ul class="nav navbar-nav navbar-left">
                {% include "lib/components/apps_nav.html" %}
                {% include "lib/components/admin_menu.html" %}
                <li><a href="{% url_from_class "misc.views.Help" %}">Help</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url_from_class "user_manager.views.login.Logout" %}?next={{ request.get_full_path|urlencode }}"><span
                            class="glyphicon glyphicon-log-out"></span> Logout {{ user }}</a></li>
                {% else %}
                    {% include "lib/components/login_dropdown.html" %}
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
{% endblock %}

{% block footer %}
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <a class="text-muted" href="{% url_from_class "misc.views.About" %}">OBOB Subject Database</a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <p class="text-muted">&copy 2016-2021 Thomas Hartmann</p>
            </div>

        </div>

    </div>
</footer>
{% endblock %}