{% extends "base.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load th_bootstrap %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load render_bundle from webpack_loader %}

{% block main_content %}
    {% block delete_dlg %}{% endblock %}
    {% block filter %}
        {% if filter %}
            <div class="row">
                <div class="col-sm-12">
                    <form action="" method="get" class="form" id="filter_form">
                        {% bootstrap_form filter.form bound_css_class="" %}
                        <button class="btn btn-primary" type="submit">Filter</button>
                        <button class="btn btn-secondary" type="button" id="reset_filter_button">Reset Filters</button>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block table %}

        {% render_table table %}
    {% endblock table %}

{% endblock %}
{% block javascript %}
    {% render_bundle js_bundle|default:'obob_subjectdb/generic_list.js' %}
{% endblock %}