{% extends "base_bare_skel.html" %}
<!--
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
-->

{% block before_head %}
    {% load static %}
    {% load render_bundle from webpack_loader %}
{% endblock %}

{% block head %}
    {% block css %}
        {% render_bundle 'obob_subjectdb/main_css.js' 'css' %}
    {% endblock %}

    <link rel="shortcut icon" type="image/x-png" href="{% static 'favicon.png' %}">
{% endblock %}

{% block body %}
    {% block navbar %}
    {% endblock %}

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">{% block main_header %} {% if main_header_html %} {{ main_header_html }}
                    {% endif %} {% endblock %}</div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% block navs %} {% endblock %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% include "lib/components/alerts.html" %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% block main_content %}
                {% endblock %}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    {% render_bundle js_bundle|default:'obob_subjectdb/init_general.js' %}
{% endblock %}

{% block extra_js %}
    {% for js in extra_js %}
        {% render_bundle js skip_common_chunks=True %}
    {% endfor %}
{% endblock %}