{% extends "base.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load bootstrap3 %}
{% load auto_url %}
{% load th_django %}
{% load render_bundle from webpack_loader %}

{% block main_content %}
    {% block form %}
        <form id="{% block form_id %}form{% endblock %}" action="" method="post" class="form-horizontal"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}


            {% block extra_form_input %} {% endblock %}
            <input type="hidden" id="date_format" value="{% date_format for_javascript=True %}">
            <input type="hidden" id="datetime_format" value="{% datetime_format for_javascript=True %}">

            {% block form_buttons %}
                {% buttons layout="horizontal" %}
                    {% bootstrap_button "Submit" "submit" button_class="btn-primary" %}
                    {% block extra_form_buttons %} {% endblock %}
                {% endbuttons %}
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}

{% block javascript %}
    {% render_bundle js_bundle|default:'obob_subjectdb/generic_form.js' %}
{% endblock %}