{% extends "base_table.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load th_bootstrap %}
{% load auto_url %}

{% block navs %}
    <li>
        {% if perms.mridb.add_mri%}
            <a href="{% url_from_class "mridb.views.edit.MriNew" subject_id=subject_id %}" id="upload">Upload MRI</a>
        {% endif %}
    </li>
    <li>
        {% if perms.mridb.delete_mri %}
            <a href="{% url_from_class "mridb.views.display.SubjectDetailTrash" subject_id=subject_id %}" id="undelete">Undelete
                MRI</a>
        {% endif %}
    </li>
{% endblock %}

{% block delete_dlg %}
    {% create_confirm_delete "confirm_delete" "Are you sure you want to delete the MRI?" post_question="" %}
{% endblock %}