{% extends 'base_form.html' %}

{% block hidden %}
    <div id="subject_id_dropdown" class="jq-dropdown jq-dropdown-panel-wide">
        <div class="jq-dropdown-panel jq-dropdown-panel-wide">
            <form class="form-horizontal" id="participantCodeForm">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="motherFirstName">Mother's first name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-for-id" id="motherFirstName" required="required" minlength="3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="motherMaidenName">Mother's maiden name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-for-id" id="motherMaidenName" required="required" minlength="3">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="participantBirthday">Birthday of Participant</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control input-for-id" id="participantBirthday" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Participant Code</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="participantCode" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button class="btn btn-primary" type="submit">Ok</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}